

* {
	margin: 0;
	padding: 0;
}

body {
	
	background: #fff;
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #666666;
	background-color: #F4F4F4;
}

a {
	color: #29A3E1;
}

a:hover {
	text-decoration: none;
	color: #E16629;
}


.title {
	background: url(images/img04.gif) no-repeat right center;
	border-bottom: 3px solid #29A3E1;
	margin-top: 20px;
	margin-bottom: 10px;
}

.boxed1 .title {
	font: bold 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.boxed1 .content {
	background: url(images/img05.gif) no-repeat left bottom;
	padding: 20px;
}

.boxed2 .title {
	font: normal 182% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.boxed2 .content {
	background: url(images/img06.gif) no-repeat left bottom;
	padding: 20px;
}

.boxed3 .title {
	font: normal 129% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.boxed3 .content {
	background: url(images/img07.gif) no-repeat left bottom;
	padding: 20px;
}

.boxed3 ol, .boxed3 ul {
	margin-left: 1em;
}




#header {
	width: 1300px;
	height: 161px;
	margin: 0 auto;

	border-bottom: 5px solid #E16629;
}
.headerbackimg 
{
   
	height: 161px;
	margin-left: 240px;

	background: url(images/img02_2_2.jpg) no-repeat ;
	
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#logo {
	float: left;
	width: 240px;
	height: 160px;
	background: #29A4E1 url(images/img01.jpg) no-repeat;
	text-align: center;
}

.login{
	height: 40px;
	width: 40px;
}

#menu {
	float: left;
	width: 900px;
	height: 50px;
	background: #F4F4F4;
}

#menu ul {
	height: 5px;
	background: #29A4E1;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 30px;
	padding: 15px 15px 0 15px;
	border-top: 5px solid #29A4E1;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background: #DCDCDC;
	border-top-color: #1A7196;
}

#menu .active a {
	background: #FFA800;
	border-top-color: #E16629;
}

#menu a b {
	text-decoration: underline;
}

.kullanici{
	border-top: 5px solid #29A4E1;
display: inline;
width: 160px;

	float: right;
	height: 45px;
	background: #F4F4F4;
}
.kullanici ul {
	height: 5px;
	list-style: none;

}

.kullanici li {
	display: inline;
	
}
.kullanici a {
	display: block;
	float: right;
	height: 30px;
	padding: 3px 5px 0 5px;
	
	text-decoration: none;
	
}

.yazigelecek{
	text-align: left;
	line-height: 1.5em;
	width: 80%;
	font-size: 20px;

}

.kullanici2{
	display: none;
 text-align: right;
 justify-content: right;

width: 600px;

	height: 50px;
	background: white;
}
.kullanici2 ul {
	height: 5px;
	list-style: none;

}

.kullanici2 li {
	display: inline;
	
}
.kullanici2 a {
	
	float: center;
	height: 30px;
	padding: 2px 15px 0 15px;
	
	text-decoration: none;
	
}
#page {
	width: 1300px;
	margin: 0 auto;
	background: url(images/img03.gif) repeat-y;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.ayirac{
	height: 5px;
	background-color: #E16629;
}

.otomobilresim{
	width: 1080px;
	height: 720px;
	margin-top: 10px;
}

.content {
	float: left;
	width: 1280px;
	padding: 20px;
	border-bottom: 5px solid #E16629;

}

.content2 {
	float: left;
	width: 1300px;
	
	border-bottom: 1px solid #FFFFFF;
}

.content3 {
     text-align: center;
	width: 1300px;
	 background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/fuar.jpg");

  height: 80%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	border-bottom: 1px solid #FFFFFF;
	text-decoration: underline;
}
.content3 a{
	background-color: rgba(255,0,0,0.0);
	 padding-left: 55px;
   	 padding-right: 55px;
   	padding-top: 45px;
    padding-bottom: 45px;
      text-align: center;
  position: absolute;
  font-style: bold;
  top: 30%;
  left: 40%;
             
            

text-decoration: underline;
    
    
    color: white; 
    text-decoration: none;
    font-size: 2.5em;
    
    
    border: 2px solid white; 
    border-radius: 7px;

}
.content3 a:hover {
      background-color: rgba(225,102,41,0.6);
      transition: 0.7s;
      cursor: pointer;
  }



.content p, .content ol, .content ul {
	line-height: 152%;
}


#sidebar {
	float: left;
	width: 200px;
	padding: 20px;
}



#news {
	padding-top: 10px;
	padding-bottom: 0;
}

#news ul {
	list-style-type: square;
}

#news li {
	margin-bottom: 15px;
}

#news h3 {
	margin-bottom: 10px;
	font-size: 92%;
}

#news h3 a {
	display: block;
}

#news p {
	font-size: 85%;
}



#welcome {
	margin-bottom: 20px;
}



#sample1, #sample2 {
	float: left;
	width: 230px;
}

#sample1 {
}

#sample2 {
	margin-left: 20px;
}


#footer {
	width: 1300px;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 5px solid #E16629;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .card {
    flex: 0 0 265px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    
  } 
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
    
  }
   .card .text p {
   	text-align: left;
  overflow: hidden;
  
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 7; /* number of lines to show */
           line-clamp: 7; 
   -webkit-box-orient: vertical;
    justify-content: left;
  }
  .card .text h3 {
  	    margin-top: 10px;
   	text-align: left;
 overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
    justify-content: left;
  
    
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
  }




.hero-image {
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/IMG_4899.jpg");

  height: 80%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
	font-size: 20px;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}
.hero-button{
	background-color: rgba(255,0,0,0.1);
	 padding: 10px;
   
    margin-left: auto;
    margin-right: auto;
       
    color: white; 
    text-decoration: none;
    font-size: 1.5em;
    
    
    border: 2px solid white; 
    border-radius: 7px;

}
.hero-button:hover {
      background-color: rgba(225,102,41,0.6);
      transition: 0.7s;
      cursor: pointer;
  }


.myTimetable {
	margin-top: 10px;
  width:100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.myTimetable THEAD ,TH{
  color: #000;  border: 1px solid black;
  height: 100px;
}
.myTimetable TR{
  border: 1px solid black;
 
}

.myTimetable TBODY {
  background-color: #F2D2BD;  border: 1px solid black;
}

.myTimetable TD {
	height:	60px;
  border: 1px solid black;
  padding: 6px;
  text-align: center;
}
.myTimetable TBODY TR TD:first-child {
  background-color: #FFAC1C;
  font-weight: bold;
  border: 1px solid black;
}

.break, .lunch {
  background-color: #FFAC1C !important;
  font-style: italic;
}

.subject {
  font-size: 12pt;
  margin-bottom:4px;
}

.room {
  font-size: 10pt;
  font-style: italic;
}



.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-modal:target {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(247, 210, 135,0.8);
	transition: all 0.3s;
}

.md-modal:target ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}


.md-content {
	color: #fff;
	background: #3A3B3C;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}


.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content a {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}



.md-modal .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-modal:target .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}






.md-modal2 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 360px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-modal2:target {
	visibility: visible;
}

.md-overlay2 {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(224, 255, 255,0.8);
	transition: all 0.3s;
}

.md-modal2:target ~ .md-overlay2 {
	opacity: 1;
	visibility: visible;
}


.md-content2 {
	color: #fff;
	background: #00B7EB;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}


.md-overlay2 {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	
}

.md-content2 h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content2 > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content2 > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content2 > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content2 > div ul li {
	padding: 5px 0;
}

.md-content2 a {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}



.md-modal2 .md-content2 {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-modal2:target .md-content2 {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.harita {
	width: 1080;
	height: 720;
}




#footer p {
	text-align: center;
	font-size: 18px;
}

/*Site Mobil Uyumlu Hale Getirmek İçin Css Kodları Değişimi*/

@media only screen and (max-width: 768px) {
#menu ul {
	font-size:12px;
}

#menu li {
font-size:12px;
}

#menu a {
	padding: 10px 10px 0 10px;
font-size:12px;
	
}
#page {
	width: 600px;
	margin: 0 auto;
	margin-top:50px;
	background: url(images/img03.gif) repeat-y;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.kullanici{
	display: none;
}
#header {
	width: 600px;
	height: 161px;
	margin: 0 auto;

	border-bottom: 5px solid #E16629;
}
.otomobilresim{
	width: 600px;
	height: 540px;
margin-top: 10px;
}
.content {
	float: left;
	width: 580px;
	padding: 20px;
	border-bottom: 5px solid #E16629;

}

.content2 {
	float: left;
	width: 600px;
	border-bottom: 1px solid #FFFFFF;
}

.content3 {
     
	width: 600px;
	
}

#footer {
	width: 600px;
	
}
#logo {
	margin-left: 180px;
	margin-right: 180px;
	float: center;
	background: #fff url(images/img01.jpg) no-repeat;
	text-align: center;
}
#menu {
	float: left;
	width: 900px;
	height: 50px;
	background: #F4F4F4;
}

 .card {
    flex: 0 0 256px;
    margin-left: auto;
    margin-right: auto;
    
  } 
.headerbackimg 
{display: none;}

.myTimetable THEAD ,TH{
  
  height: 60px;
}

.kullanici2{
	display:block;
 
}
.myTimetable TD {
	height:	20px;
 
  padding: 3px;
  
}
.harita {
	width: 600;
	height: 480;
}
.otoresim-gelecek{
	width: 500px;
	height: 400px;
}
}

@media only screen and (max-width: 480px) {
#menu ul {
	font-size:10px;
}

#menu li {
font-size:10px;
}

#menu a {
font-size:10px;
		padding: 10px 10px 0 10px;
font-size:10px;
}

#page {
	width: 460px;
	margin: 0 auto;
	margin-top:50px;
	background: url(images/img03.gif) repeat-y;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.kullanici2{
	display: block;
	width: 460px;
}
#header {
	width: 460px;
	height: 161px;
	margin: 0 auto;

	border-bottom: 5px solid #E16629;
}

.content {
	float: left;
	width: 440px;
	padding: 20px;
	border-bottom: 5px solid #E16629;

}

.content2 {
	float: left;
	width: 460px;
	
	border-bottom: 1px solid #FFFFFF;
}

.content3 {
     
	width: 460px;
	
}

#footer {
	width: 460px;
	
}
#logo {
	margin-left: 120px;
	margin-right: 120px;
	float: center;
	background: #fff url(images/img01.jpg) no-repeat;
	text-align: center;
}
#menu {
	float: left;
	width: 460px;
	height: 50px;
	background: #F4F4F4;
}

 .card {
    flex: 0 0 350px;
    margin-left: auto;
    margin-right: auto;
    
  } 
.headerbackimg 
{display: none;}

.myTimetable THEAD ,TH{
  
  height: 60px;
}

.kullanici2{
	display:block;
 
}
.myTimetable TD {
	height:	20px;
 
  padding: 3px;
  
}
.harita {
	width: 540;
	height: 360;
}

.otomobilresim{
	width: 540px;
	height: 480px;
margin-top: 10px;
}
.otoresim-gelecek{
	width: 400px;
	height: 360px;
}
}

